<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>tema</title>
    <style>
      .d {
        width: 50px;
        height: 50px;
        background-color: black;
        display: inline-block;
        margin-right: 20px;
      }
    </style>
  </head>
  <body>
    <div id="tema">
     <input type="text" v-model="text" >
     <button @click="changed">verific</button>
     <br>
     <div>{{result}}</div>
</div>
     <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="t.js"></script>
  </body>
</html>